body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: bisque;
  width: 60%;
}
ol {
  list-style: upper-roman inside;
}

h1 {
  font-size: 38px;
  font-weight: bolder;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

body header > img {
  display: inline;
  width: 100px;
}

.ingredients-list {
  float: left;
  list-style: armenian;
}

ul li a, figcaption a {
  text-decoration: underline;;
  color: inherit;
}

ol li:nth-of-type(2n) {
  background-color:whitesmoke;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"]{
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(./internetkid.jpg);
  background-size: cover;
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

input:last-child:hover{
  -webkit-filter: brightness(90%);
}

nav {
  display: inline-block;
}
nav ul {
  display: inline-block;
}

nav ul li{
  padding: 10px;
  display: inline;
}

aside {
  width: 180px;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
}

section {
  width: 700px;
  display: inline-block;
  vertical-align: top;
  float: right;
}
textarea {
  width: 350px;
}

label {
  display: block;
}
