/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}*/
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}*/

body {
  margin: 0 auto;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  background-color: bisque;
  width: 900px;
}
ol {
  list-style: upper-roman inside;
}
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 38px;
  font-weight: bolder;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

body header > img {
  display: inline;
  width: 100px;
}

.ingredients-list {
  list-style: square-inside;
}

ul li a {
  text-decoration: underline;;
  color: inherit;
}

ol li:nth-of-type(2n) {
  background-color:whitesmoke;
}

h2 + .user_review {
  border-top: 1px solid black;
}

input[type="radio"]{
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  background-image: url(./internetkid.jpg);
  background-size: cover;
  vertical-align: bottom;
}

input[type="radio"]:checked {
  background-position: 30px 30px;
}

nav ul li{
  display: inline;
}

aside {
  width: 180px;
  margin-right: 15px;
  display: inline-block;
}

textarea {
  width: 350px;
}

label {
  display: block;
}
