/* PHASE 3: Content */

.content {
  margin: 0 auto;
  background-color: white;
  border-left: ;
  border-bottom: ;
  border-right: ;
}

.content-sidebar {
  float: left;
  width: 30%;
}

.content-main {
 float: right;
 width: 60%;
 padding-left: 10px
}

.content h1 {
  font-size: 24;
  font-weight: bolder;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content p {
  font-size: 14px;
  text-align: left;
}
